/* Angela Cash */

/* #region || CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #endregion || CSS Reset */

/* #region || Variables  */
:root {
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
	--font-molle: "Molle", Georgia, serif;
	--font-montserrat: "Monteserrat", "Times New Roman", serif;
}
/* #endregion || Variables */

/* #region || Global Styles */
*{
	box-sizing: border-box;
	line-height: 1.35;
}
/* #endregion || Global Styles */

/* #region || Skip Link Styles */
#skipLink {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skipLink:focus {
		position: static;
		width: auto;
		height: auto;
}
/* #endregion || Skip Link Styles */



/* #region || Headings */

/* #endregion || Headings */

/* #region || Mobile First Styles */

/* #endregion || Mobile First Styles */

/* #region || Small Screen Styles */
@media only screen and (min-width: 320px) {
	
}
/* #endregion || Small Screen Styles */

/* #region ||  Medium Screen Styles */
@media only screen and (min-width: 768px) {

}
/* #endregion || Medium Screen Styles */

/* #region || Large Screen Styles */
@media only screen and (min-width: 1000px) {
	
}
/* #endregion || Large Screen Styles */


