/* Angela Cash */

/* #region || CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #endregion || CSS Reset */

/* #region || Variables  */
:root {
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
	--font-v1: "Molle", Georgia, serif;
	--font-v2: "Montserrat", "Times New Roman", serif;
}
/* #endregion || Variables */

/* #region || Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
*{
	box-sizing: border-box;
	line-height: 1.8;
}
a {
	text-decoration: none;
}
/* #endregion || Global Styles */

/* #region || Skip Link Styles */
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skip:focus {
		position: static;
		width: auto;			
		height: auto;
}
/* #endregion || Skip Link Styles */

/* #region || Hidden Content Styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* #endregion || Hidden Content Styles */

/* #region || Headings & Text */
h1 {
	font-size: 60px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}
h1, h2, h3 {
	font-family: var(--font-v1)
}
h4, a, p, q, small, nav, button, form {
	font-family: var(--font-v2);
}
/* #endregion || Headings */

/* #region || Navigation */
nav {
	display: block;
}
#menu-toggle a {
	display: block;
	text-decoration: none;
	color: var(--black);
	background-color: var(--teal);
	border: 1px solid var(--black);
	padding: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
#menu-toggle a:hover {
	color: var(--white);
}
#toggle {
	display: none;
}
#menu-toggle label {
	position: absolute;
	top: 20px;
	right: 0;
	width: 250px;
	background-color: var(--yellow);
	color: var(--black);
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#menu-toggle ul {
	width: 100%;
	position: absolute;
	top: -550px;
	right: 0;
	text-align: center;
}

/* When the input is checked */
#menu-toggle input:checked ~ label {
	width: 100%;
	background: var(--black);
	color: var(--white);
	padding: 20px;
}

#menu-toggle input:checked ~ ul {
	display: flex;
	flex-direction: column;
	top: 70px;
}
/* #endregion || Navigation */

/* #region || Mobile First Styles */
header {
	background: linear-gradient(180deg, var(--teal), 65%, var(--white));
	display: flex;
	flex-flow: column nowrap;	
}
header h1 {
	padding-left: 28px;
	margin-top: 20px;
}
header p {
	font-size: 23px;
	padding-left: 30px;
	padding-right: 30px;
	width: 80%;
	line-height: 1.9;
}
#logo img {
	height: 70px;
	width: auto;
	margin-top: 15px;
}

/* Intro Section */
#intro h2 {
	margin-top: 30px;
}
#intro h2, #intro p {
	padding-left: 30px;
}
#intro p {
	width: 75%;
}
#img-grid {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#intro img {
	width: 100%;
	height: auto;
}
#intro picture {
	width: 100%;
}

/* Plan Section */
#plan {
	background-color: var(--yellow);
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	grid-gap: 10px;
}
#plan section {
	background-color: var(--teal);
	border-radius: 15px;
	border: 3px solid var(--white);
	text-align: center;
	padding: 30px;
	margin-top: 10px;
}
#plan section img {
	padding: 10px;
}

/* Testimonials Section */
#testimonials div {
	display: grid;
	text-align: center;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
}
#testimonials h3 {
	text-align: left;
	font-size: 40px;
	padding-left: 40px;
	margin-top: 30px;
}
#testimonials q, #testimonials p {
	font-size: 22px;
	line-height: 1.2;
	margin: 10px;
}
#testimonials q {
	font-style: italic;
}
#testimonials q:before {
	content: '"';
}
#testimonials q:after {
	content: '"';
}

/* About Section */
#about {
	background-color: var(--blue);
	text-align: center;
	line-height: 1.2;
}
#about h3 {
	text-align: left;	
	padding-top: 20px;
	width: 50%;
}
#about h4 {
	font-size: 20px;
	text-transform: uppercase;
}
#about section {
	width: 50%;
}
#about div {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 80%;
}
#about img { 
	width: 120px;
	height: 120px;
}
#about p {
	font-size: 18px;
	margin-bottom: 15px;
}
/* Contact Form */
#contact {
	width: 85%;
	margin: 0 auto;
}
#contact h3 {
	font-size: 40px;
	margin-top: 25px;
	text-align: left;
}
.form-required {
	font-size: 15px;
	padding-left: 5px;
	font-family: var(--font-v2);
	font-style: italic;
}
.required {
	color: var(--purple);
	padding-left: 5px;
	font-size: 25px;
}
#contact legend, #contact label {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	height: auto;
}
#contact label {
	display: flex;
	align-items: center;
}
input[type="text"], input[type="email"], input[type="tel"], .custom-select select {
	width: 100%;
	height: 70px;
	padding: 5px;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	border: 4px solid var(--purple);
	color: var(--black);
}
.radio-label {
	font-weight: normal;
	padding-left: 10px;
	text-transform: none;
}
input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	font: inherit;
	color: currentColor;
	width: 72px;
	height: 72px;
	border: 3px solid var(--purple);
	border-radius: 50%;
	display: grid;
	place-content: center;
	margin-bottom: 10px;
}
input[type="radio"]:checked::before {
	content: "";
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: var(--purple);
}

/* Destination and Travel Time Selections for Contact Form*/
.custom-select {
	width: 100%;
	display: block;
	position: relative;
}
.custom-select select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	box-sizing: border-box;
	border: 4px solid var(--purple);
}

/* Submit button */
input[type="submit"] {
	width: 100%;
	border: none;
	padding: 20px;
	display: block;
	font-size: 20px;
	margin-bottom: 25px;
	color: #ffffff;
	background-color: #9b26b0;
	text-transform: uppercase;
	font-weight: bold;
}

/* Footer Styles */
footer {
	background-color: var(--light-gray);
	display: grid;
	text-align: center;
	justify-content: center;
	padding-top: 5px;
}
footer p {
	padding: 1em;
}
footer a {
	padding: 10px;
	color: var(--black);
}
/* #endregion || Mobile First Styles */
/*
/* #region || Small Screen Styles 
@media only screen and (min-width: 320px) {
	
}
/* #endregion || Small Screen Styles 
*/

/* #region ||  Medium Screen Styles */
@media only screen and (min-width: 768px) {
body {
	background: linear-gradient(180deg, var(--teal) 4%, var(--white) 8%);
}
header {
	background: transparent;
	position: relative; 
	display: grid;
	grid-template-columns: 30% auto;
	grid-template-rows: 100px 50px 100px;
	margin-top: 40px;
}
#logo a, #logo img {
	width: 260px;
	height: auto;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}
header h1 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: 50px;
}
header p {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
/* Menu Medium Styles */
#menu-toggle label, #menu-toggle input {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#menu-toggle ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	top: 210px;
}

#menu-toggle a {
	background-color: var(--white);
	border: none;
	padding: 20px;
	width: 150px;
}
#menu-toggle a:hover {
	background-color: var(--purple);
}
#menu-toggle .active > a {
	background-color: var(--yellow);
}
#menu-toggle input {
	margin: 0;
}
/* Intro Medium Styles */
article {
	margin-top: 25px;
}
/* Image Grid Medium Styles */
#img-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	/*padding: 20px;*/
}
#img-grid img:first-child {
	order: 2;
}
#img-grid picture {
	grid-row: 2 / 3;
	grid-column: 1 / span 2;
}
/* Plan Medium Styles */
#plan div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	gap: 15px;
	padding-bottom: 15px;
}
#plan section {
	padding: 10px;
	width: 300px;
	height: 285px;
}
#plan h4 {
	font-size: 22px;
}
#plan section img {
	padding: 10px;
	width: 180px;
	height: auto;
	padding-top: 15px;
}
#plan section:nth-child(2) img {
	width: 200px;
	height: auto;
	padding-top: 40px;
}
/* Testimonials Medium Styles */
#testimonials div {
	width: 75%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 25px;
	line-height: 1.2;
}
/* About Medium Styles */
#about h3 {
	width: 100%;
	padding-left: 80px;
}
#about div {
	flex-flow: row nowrap;
}
/* Contact Form Medium Styles */
#contact fieldset {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#contact legend {
	grid-column: 1 / 2;
}
#selects {
	display: grid;
	grid-template-rows: 10% 25% 10% 25% 30%;
	grid-template-columns: 1fr 1fr;
}
#contact label, #contact .custom-select {
	grid-column: 1 / 3;
}
input[type="submit"] {
	grid-column: 2 / 3;
}
/* Footer */
footer {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}
}
/* #endregion || Medium Screen Styles */

/* #region || Large Screen Styles */
@media only screen and (min-width: 1200px) {
body {
	background: linear-gradient(180deg, var(--teal) 2%, var(--white) 6%);
}
header {
	position: relative; 
	display: grid;
	grid-template-columns: 15% 80%;
	grid-template-rows: 80px 50px 80px;
	margin-top: 40px;
}
/* Large Menu Styles */
#menu-toggle ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	padding-left: 10px;
	top: -40px;
	right: 0;
	gap: 15px;
}
/* Large Intro Styles */
#intro {
	display: grid;
	grid-template-columns: 45% 55%;
	grid-template-rows: 10% 90%;
}
#intro h2 {
	grid-column: 1 / 2;
	margin-top: 0;
}
#intro p {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 90%;
}
#img-grid {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
/* Large Plan Styles */
#plan {
	height: 500px;
	padding-top: 60px;
}
#plan div {
	grid-template-columns: repeat(4, 1fr);
}
/* Large Testimonials Styles */
#testimonials {
	height: 450px;
	padding-top: 25px;
}
#testimonials div {
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	justify-content: space-around;
}
#testimonials img {
	width: 150px;
}
#testimonials h4 {
	font-size: 25px;
}
#testimonials p {
	font-size: 20px;
}
#testimonials q {
	font-size: 16px;
}
/* Large About Styles */
#about {
	height: 450px;
	padding-top: 65px;
}
#about h3 {
	font-size: 35px;
}
/* Large Contact Form Styles */
#contact {
	width: 95%;
}
#contact form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
input[type="radio"] {
	width: 60px;
	height: 60px;
}
input[type="radio"]:checked::before {
	width: 37px;
	height: 37px;
}
#contact fieldset {
	display: flex;
	flex-flow: row nowrap; 
	justify-content: space-between;
}
/* Large Footer Styles */
footer {
	display: grid;
	grid-template-columns: 60% 20% 20%;
	text-align: left;
}
footer a {
	padding: 20px;
}
}
/* #endregion || Large Screen Styles */


